header, footer{
    background-color: #f2e9dc;

}

.changeFont{
    /* color: #0064C7; */
    /* color: #91C499; */
    color: #595959;
}

.titleStyle{
    color: #1b4965;
}

#shadowingImage{
    box-shadow: 0px 0px 2px 1px black;
}

.hobbiesList {
    list-style-type: square;
}

.hobbiesList :nth-child(odd) {
    background-color:#91C499;
}

nav ul{
    display: inline;
}

nav a{
    text-decoration: none;
}

a{
    background-color: #BEE9E8;
    border: 1px solid #1b4965;
}

a:hover, a:focus{
    background-color: aqua;
}